#tableContainer .form-control {
    width: 180px;
    padding: 0.400rem 1rem;
    justify-content: end;
}

#tableContainer .searchContainer {
    display: flex;
    width: 100%;
    justify-content: end;
}

#tableContainer.container {
    padding: 0px;
}

.table-bordered> :not(caption)>*>* {
    border-width: 0px 2px !important;
}

.table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    background: whitesmoke;
    margin-bottom: auto !important;
    /* box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2); */
    border-radius: 5px !important;
}

.table th,
.table td {
    text-align: center;
    font-size: 14px;
    vertical-align: middle;
}

#tableWebsiteUrl.table th {
    text-align: center;
    font-size: 12px;
    font-weight: 800;
    vertical-align: middle;
}

#tableWebsiteUrl.table td {
    padding: 7px;
    text-align: center;
    font-size: 12px;
    vertical-align: middle;
}

#tableWebsiteUrl.table tr {
    height: 46px !important;
    vertical-align: middle;
}

.pagination {
    display: flex;
    justify-content: right !important;
}

.table th {
    background-color: #a8a7a7;
}

tbody td .actionIcons {
    border: none;
    font-size: 17px;
    margin-left: 4px;
    background: none;
    transition: all 0.2s ease-out;
    padding-top: 2px;
}

tbody td .deleteBackground {
    background-color: rgb(233, 22, 22);
    color: white;
    border-radius: 3px;
}

tbody td .editBackground {
    background-color: #1b84ff;
    color: white;
    border-radius: 3px;
}

.min-vh-80 {
    min-height: 80vh;
}

.custom-dropdown-toggle::after {
    display: none;
}

#tableDropdown .custom-dropdown-menu {
    /* width: 100%; */
    min-width: 56px !important;
    z-index: 1050;
}

.overflow-x-auto {
    position: relative !important;
}

.custom-dropdown-menu {
    z-index: 1050 !important;
    /* Bootstrap dropdown z-index */
}

.w-auto {
    width: auto !important;
}

#urlsDropdown .dropdown-toggle {
    height: 34px !important;
    padding: 0px 20px;
}

.padding-top {
    padding-top: 5.5px;
}

.react-tooltip {
    background-color: #333;
    color: white;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 12px;
}

.ms-420 {
    /* margin-left: 360px !important; */
    top: 24.5px;
    right: 140px;
}

.status-cell {
    padding: 0.5em 0.4em;
    border-radius: 0.25em;
    font-weight: bold;
    color: white !important;
    text-align: center;
}

.status-cell.status-success {
    background-color: #28a745;
    /* Light green for success */
}

.status-cell.status-pending {
    background-color: #ffc107;
}

.status-cell.status-complete {
    background-color: #28a745;
}

.status-cell.status-error {
    background-color: #dc3545;
}

.status-cell.status-active {
    background-color: #007bff;
}

.status-cell.status-inactive {
    background-color: #6c757d;
}

.errorBtn {
    height: 32px;
    background-color: #1B84FF;
    border: none;
    color: #fff;
    font-weight: bold;
    padding: 0px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.errorBtn:hover {
    background-color: #056de5;
}

.mixed-widget-5-chart .apexcharts-svg {
    max-height: 200px !important;
}

.ant-picker-range-arrow {
    top: 0;
    display: none !important;
    transform: translateY(-90%);
}

.breadcrumb-icon {
    width: 250px; 
    height: auto;
    background: linear-gradient(100deg, #f5f5f5, #e6e6e6); 
    border-radius: 8px; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; 
    border: 1px solid #d0d0d0; 
    transition: all 0.3s ease-in-out; 
}

.breadcrumb-icon:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    background: linear-gradient(100deg, #eaeaea, #d4d4d4);
}
.breadcrumb-icon-arrow {
    font-size: 16px;
    padding-bottom: 1px;
    color: #2c2c2c;
    transition: color 0.3s ease;
  }
  